{{!-- <div class="hero-body">
    <section class="container">
        hello

        <p>line 2</p>
        {{score}}{{email}}
    </section>
</div> --}}
        hello

        <p>line 2</p>
        {{score}}{{email}}
{{!-- 
<table class="table"> as the main container
thead the optional top part of the table
tfoot the optional bottom part of the table
tbody the main content of the table
tr each table row
th a table cell heading
td a table cell 
--}}

<table class="table is-striped container">
        <thead>
        <tr>
            <th>Email</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody id="user-list">
        {{!-- <script id="user-records" type="text/x-handlebars-template"> --}}
            {{#each leaderBoard as |leader|}}
            <tr>
                <td>{{leader.email}}</td>
                <td>{{leader.score}}</td>
            </tr>
            {{/each}}
        {{!-- </script> --}}
        </tbody>
    </table>